{% extends 'layout.html'%}

    {% block content %}
    <!-- BIG INTRO AUTO SHUFFLE -->
    <section class="section-slide">
        <div class="wrap-slick1">
            <div class="slick1">
                <div class="item-slick1" style="background-image: url(/static/images/new3.jpg);">
                    <div class="container h-full">
                        <div class="flex-col-l-m h-full p-t-100 p-all-70 respon5">
                            <div class="bgf0 bor20 p-lr-45">
                                <div class="layer-slick1 animated visible-false m-t-20  " data-appear="fadeInDown"
                                    data-delay="0">
                                    <span class="ltext-101 cl2 respon8">
                                        New Stocks
                                    </span>
                                </div>
                                <div class="layer-slick1 animated visible-false" data-appear="fadeInUp"
                                    data-delay="800">
                                    <h2 class="ltext-109 cl2 p-t-19 p-b-25 respon2">
                                        Premium Banarasi Sarees
                                    </h2>
                                </div>
                                <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                                    <a href="/shop"
                                        class="flex-c-m stext-101 m-l-0 m-r-200 m-b-20 cl0 size-101 bg10 bor20 hov-btn1 p-lr-15 trans-04">
                                        Order Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slick1" style="background-image: url(/static/images/new2.jpg);">
                    <div class="container h-full">
                        <div class="flex-col-l-m h-full p-t-100 p-all-70 respon5">
                            <div class="bgf0 bor20 p-lr-45" data-appear="fadeInUp" data-delay="0">
                                <div class="layer-slick1 animated visible-false m-t-20  " data-appear="fadeInDown"
                                    data-delay="0">
                                    <span class="ltext-101 cl2 respon8">
                                        New Stocks
                                    </span>
                                </div>
                                <div class="layer-slick1 animated visible-false" data-appear="fadeInUp"
                                    data-delay="800">
                                    <h2 class="ltext-109 cl2 p-t-19 p-b-25 respon2">
                                        Premium Banarasi Sarees
                                    </h2>
                                </div>
                                <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                                    <a href="/shop"
                                        class="flex-c-m stext-101 m-l-0 m-r-200 m-b-20 cl0 size-101 bg10 bor20 hov-btn1 p-lr-15 trans-04">
                                        Order Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slick1" style="background-image: url(/static/images/new1.jpg);">
                    <div class="container h-full">
                        <div class="flex-col-l-m h-full p-t-100 p-all-70 respon5">
                            <div class="bgf0 bor20 p-lr-45">
                                <div class="layer-slick1 animated visible-false m-t-20  " data-appear="fadeInDown"
                                    data-delay="0">
                                    <span class="ltext-101 cl2 respon8">
                                        New Stocks
                                    </span>
                                </div>
                                <div class="layer-slick1 animated visible-false" data-appear="fadeInUp"
                                    data-delay="800">
                                    <h2 class="ltext-109 cl2 p-t-19 p-b-25 respon2">
                                        Premium Banarasi Sarees
                                    </h2>
                                </div>
                                <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                                    <a href="/shop"
                                        class="flex-c-m stext-101 m-l-0 m-r-200 m-b-20 cl0 size-101 bg10 bor20 hov-btn1 p-lr-15 trans-04">
                                        Order Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Best of HI -->
    <div class="sec-banner bg0 p-t-95 p-b-55">
        <div class="container">
            <div class="p-b-10 m-b-70 tg1">
                <h3 class="ltext-103 cl5">
                    Best of <strong>Handloom India</strong>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-6 p-b-30 m-lr-auto bor14">
                    <!-- Block1 -->
                    <div class="block1 mains">
                        <img src="{{ url_for('static', filename='images/saree2.jpg')}}" alt="IMG-BANNER">
                        <a href="/shop"
                            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                            <div
                                class="block1-txt-child1 flex-col-l res1 bgf11 hov-bgf11 p-lr-28 m-r-46 p-b-150 p-t-26 bor20">
                                <span class="block1-info mtext-103 textres1 m-l-45 c51 trans-04">
                                    Fresh Arrival
                                </span>
                                <div class="str8">
                                    <span class="slanted">Premium Sarees</span>
                                </div>
                            </div>
                            <div class="block1-txt-child2 p-b-4 h-b-24 trans-05">
                                <div class="block1-link stext-101 cl1 trans-09 ft-70 ">
                                    Explore
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 p-b-30 m-lr-auto bor14">
                    <!-- Block1 -->
                    <div class="p-b-15 ft-32 m-b-220">
                        <h3 class="c51 p-t-19 p-l-25 hmain1"><span> Light green Silk Saree</span></h3><br>
                        <div class="c15 p-l-25 nm-t-30 ">
                            <strong>Hand woven premium silk saree up for your selection</strong><br><br>
                            <div class="nm-t-25">
                                <h5 class="txt-left">100% Pure silk saree,<br> with high quality borders.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="block1 mains m-t-75">
                        <img src="{{ url_for('static', filename='images/saree3.jpg')}}" alt="IMG-BANNER">
                        <a href="/shop"
                            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                            <div
                                class="block1-txt-child1 flex-col-l res1 bgf11 hov-bgf11 p-lr-28 m-r-46 p-b-150 p-t-26 bor20">
                                <span class="block1-info mtext-103 textres1 m-l-45 c51 trans-04">
                                    Fresh Arrival
                                </span>
                                <div class="str8">
                                    <span class="slanted">Premium Sarees</span>
                                </div>
                            </div>
                            <div class="block1-txt-child2 p-b-4 h-b-24 trans-05">
                                <div class="block1-link stext-101 cl1 trans-09 ft-70 ">
                                    Explore
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 p-b-30 m-lr-auto p-t-60 bor14">
                    <!-- Block1 -->
                    <div class="p-b-15 ft-32 m-b-220 m-t-60">
                        <h3 class="c51 p-t-19 p-l-25 hmain1"><span> Silk 7233</span></h3><br>
                        <div class="c15 p-l-25 nm-t-30 ">
                            <strong>Hand woven premium silk saree up for your selection</strong><br><br>
                            <div class="nm-t-25">
                                <h5 class="txt-left">100% Pure silk saree,<br> with high quality borders.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="block1 mains m-t-75">
                        <img src="{{ url_for('static', filename='images/saree5.jpg')}}" alt="IMG-BANNER">
                        <a href="/shop"
                            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                            <div
                                class="block1-txt-child1 flex-col-l res1 bgf11 hov-bgf11 p-lr-28 m-r-46 p-b-150 p-t-26 bor20">
                                <span class="block1-info mtext-103 textres1 m-l-45 c51 trans-04">
                                    Fresh Arrival
                                </span>
                                <div class="str8">
                                    <span class="slanted">Premium Sarees</span>
                                </div>
                            </div>
                            <div class="block1-txt-child2 p-b-4 h-b-24 trans-05">
                                <div class="block1-link stext-101 cl1 trans-09 ft-70 ">
                                    Explore
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Categories -->
    <div class="sec-banner bg0 p-t-95 p-b-55">
        <div class="container">
            <div class="p-b-10 m-b-70 tg1">
                <h3 class="ltext-103 cl5">
                    Trending <strong>Categories</strong>
                </h3>
            </div>
            <div class="row-fine">
                <div class=" row-in-fine">
                    <img src="{{ url_for('static', filename='images/saree5.jpg')}}" class="s-img-1" alt="IMG-BANNER">
                </div>
                <div class=" row-in-fine">
                    <img src="{{ url_for('static', filename='images/saree4.jpg')}}" class="s-img-1" alt="IMG-BANNER">
                </div>
            </div>
        </div>
    </div>
    <!-- Product -->
    <section class="bg0 p-t-23 p-b-130">
        <div class="container">
            <div class="p-b-10 tg1">
                <h3 class="ltext-103 cl5">
                    What's in the <strong>store?</strong>
                </h3>
            </div>
            <div class="flex-w flex-sb-m p-b-52">
                <div class="container">
                    <div class="item">
                        <figure class="scard-main">
                            <img src="{{ url_for('static', filename='images/saree1.jpg')}}" alt="">
                            <figcaption class="scard-desc">Silk</figcaption>
                        </figure>
                    </div>

                    <div class="item">
                        <figure class="scard-main">
                            <img src="{{ url_for('static', filename='images/saree5.jpg')}}" alt="">
                            <figcaption class="scard-desc">Premium</figcaption>
                        </figure>
                    </div>

                    <div class="item">
                        <figure class="scard-main">
                            <img src="{{ url_for('static', filename='images/saree1.jpg')}}" alt="">
                            <figcaption class="scard-desc">Silk</figcaption>
                        </figure>
                    </div>

                    <div class="item">
                        <figure class="scard-main">
                            <img src="{{ url_for('static', filename='images/saree2.jpg')}}" alt="">
                            <figcaption class="scard-desc">Shiffon</figcaption>
                        </figure>
                    </div>

                    <div class="item">
                        <figure class="scard-main">
                            <img src="{{ url_for('static', filename='images/saree6.jpg')}}" alt="">
                            <figcaption class="scard-desc">Georgette</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </section>
    {% endblock %}

    {% block extcontent %}
    <!-- Modal1 -->
    <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
        <div class="overlay-modal1 js-hide-modal1"></div>
        <div class="container">
            <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                    <img src="images/icons/icon-close.png" alt="CLOSE">
                </button>
                <div class="row">
                    <div class="col-md-6 col-lg-7 p-b-30">
                        <div class="p-l-25 p-r-30 p-lr-0-lg">
                            <div class="wrap-slick3 flex-sb flex-w">
                                <div class="wrap-slick3-dots"></div>
                                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
                                <div class="slick3 gallery-lb">
                                    <div class="item-slick3" data-thumb="{{ url_for('static', filename='images/saree1.jpg')}}">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="{{ url_for('static', filename='images/saree1.jpg')}}" alt="IMG-PRODUCT">
                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                                href="{{ url_for('static', filename='images/saree1.jpg')}}">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-slick3" data-thumb="{{ url_for('static', filename='images/saree1.jpg')}}">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="{{ url_for('static', filename='images/saree1.jpg')}}" alt="IMG-PRODUCT">
                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                                href="{{ url_for('static', filename='images/saree1.jpg')}}">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-slick3" data-thumb="{{ url_for('static', filename='images/saree1.jpg')}}">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="{{ url_for('static', filename='images/saree1.jpg')}}" alt="IMG-PRODUCT">
                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                                href="{{ url_for('static', filename='images/saree1.jpg')}}">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 p-b-30">
                        <div class="p-r-50 p-t-5 p-lr-0-lg">
                            <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                                Shiffon saree 7223
                            </h4>
                            <span class="mtext-106 cl2">
                                ₹3500
                            </span>
                            <p class="stext-102 cl3 p-t-23">
                                Lorem ipsum akdnc ajks cuasb djasd cubas dbcjasd jbc iasdb idscs
                            </p>
                            <!--  -->
                            <div class="p-t-33">
                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">
                                        Size
                                    </div>
                                    <div class="size-204 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">
                                            <select class="js-select2" name="time">
                                                <option>Choose an option</option>
                                                <option>Size S</option>
                                                <option>Size M</option>
                                                <option>Size L</option>
                                                <option>Size XL</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">
                                        Color
                                    </div>
                                    <div class="size-204 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">
                                            <select class="js-select2" name="time">
                                                <option>Choose an option</option>
                                                <option>Red</option>
                                                <option>Blue</option>
                                                <option>White</option>
                                                <option>Grey</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-204 flex-w flex-m respon6-next">
                                        <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </div>
                                            <input class="mtext-104 cl3 txt-center num-product" type="number"
                                                name="num-product" value="1">
                                            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </div>
                                        </div>
                                        <button
                                            class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                            Add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                                <div class="flex-m bor9 p-r-10 m-r-11">
                                    <a href="#"
                                        class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                                        data-tooltip="Add to Wishlist">
                                        <i class="zmdi zmdi-favorite"></i>
                                    </a>
                                </div>
                                <a href="#" class="fa fa-facebook" data-tooltip="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
